<ul class="sidebar-list" *ngFor="let facet of facets; let i = index">
	<li class="sidebar-list-item" (click)="onCollapse(facet.facetName)">
		<a class="sidebar-link" attr.aria-expanded="{{(collapseFacets | contains : facet.facetName)}}">{{facet.facetName | locale : i18nValues}}</a>
	</li>
	<ul id="collapse" class="sidebar-sublist" [@facetFadeInOut]="collapseFacets | facetAnimation : facet.facetName">	
		<div class="_loop_primary_search" *ngIf="!(selectedFacetItems | objectContains : facet.facetName)">	
	        <input type="search" [(ngModel)]="this['facet' + i]" placeholder="{{placeholder}}" id="primary_inputs-1" >	       	        
	  	</div>        		  
		<li *ngFor="let facetItem of facet.facetItems | facetContains : limitFacets : i:this['facet' + i]: selectedFacetItems:facet.facetName">
			<!-- {{facet.facetName}}/ {{selectedFacetItems | objectContains : facet.facetName}} / {{selectedFacetItems | checked : facet.facetName : facetItem.name}} -->
			<ng-container *ngIf="facetType==='radio' && !(selectedFacetItems | objectContains : facet.facetName)"> 
				<a  data-customlink="sf:body content" (click)="onSelectFacetItem(facet.facetName, facetItem.name); false" [ngClass]="{'disable-click': (selectedFacetItems | objectContains : facet.facetName)}">
					<span class="sidebar-sublist-item">{{facetItem.label | resultsLabel : facetItem.name : locale}}&nbsp;</span>
					<span class="list-item-num">({{facetItem.count}})</span>
				</a>
				<a class="remove-btn" *ngIf="selectedFacetItems | checked : facet.facetName : facetItem.name" (click)="onDeselectFacetItem(facet.facetName); false">
					<i class="fa fa-times-circle-o"></i>
				</a>
			</ng-container>

			<ng-container *ngIf="facetType==='radio' && (selectedFacetItems | objectContains : facet.facetName) && selectedFacetItems | checked : facet.facetName : facetItem.name"> 
				<a  data-customlink="sf:body content" (click)="onSelectFacetItem(facet.facetName, facetItem.name); false" [ngClass]="{'disable-click': (selectedFacetItems | objectContains : facet.facetName)}">
					<span class="sidebar-sublist-item">{{facetItem.label | resultsLabel : facetItem.name : locale}}&nbsp;</span>
					<span class="list-item-num">({{facetItem.count}})</span>
				</a>
				<a class="remove-btn" *ngIf="selectedFacetItems | checked : facet.facetName : facetItem.name" (click)="onSelectFacetItem(facet.facetName, facetItem.name); false">
					<i class="fa fa-times-circle-o"></i>
				</a>
			</ng-container>

			<div class="_loop_checkbox" *ngIf="facetType=='checkbox'">
				<input class="_loop_primary_checkbox" type="checkbox" [checked]="selectedFacetItems | checked : facet.facetName : facetItem.name" (change)="onSelectFacetItem(facet.facetName, facetItem.name)" />
				<label for="srchwtn">
					<div class="sidebar-sublist_wrapper">
						<span class="sidebar-sublist-item">{{facetItem.label | resultsLabel : facetItem.name : locale}}</span>
						<span class="list-item-num">({{facetItem.count}})</span>
					</div>
				</label>
			</div>
		</li>
				
		<li class="expand-link" *ngIf="(facet.facetItems | length) > 6 && !(selectedFacetItems | objectContains : facet.facetName)">
			<a *ngIf="!(limitFacets | contains : i)" (click)="onSeeMore(i); false">{{seeMore | locale : i18nValues}}</a>
			<a *ngIf="(limitFacets | contains : i)" (click)="onSeeLess(i); false">{{seeLess | locale : i18nValues}}</a>		
		</li>
	</ul>
</ul>